{extend name="public/container"}
{block name="title"}地址管理{/block}
{block name="content"}
<div id="address-list" class="user-addresslist">
    <section>
        <form action="" method="post">
            <?php $isDefault = ''; ?>
        {volist name="notice_user" id="vo"}
        <div class="address-item">
            <div class="user-info">
                <p>通知人： <span>管理员</span></p>
                <p>通知信息：{$vo.content} </p>
                <p>通知时间：{$vo.create_time|date = "Y-m-d H:i:s",###} </p>
            </div>
            <div class="address-btn flex">

            </div>
        </div>
        {/volist}
        </form>
        <a class="address-add" href="{:Url('index')}">
            返回个人中心
        </a>
    </section>
</div>
<script>
    (function(){
        requirejs(['vue','lodash','store','helper'],function(Vue,_,storeApi,$h){
            new Vue({
                el:"#address-list",
                data:{
                    isDefault:"<?=$isDefault?>"
                },
                watch:{
                    isDefault:_.debounce(function(v){
                        $h.loadFFF();
                        storeApi.setUserDefaultAddress(v,function(){
                            $h.loadClear();
                        },function(){
                            $h.loadClear();
                            return true;
                        })
                    },300)
                },
                methods:{
                    remove:function(addressId,e){
                        storeApi.removeUserAddress(addressId,function(){
                            $(e.target).parents('.address-item').remove();
                        })
                    },
                    redirect:function(addressId){
                        location.href = $h.U({
                            c:"my",
                            a:"edit_address",
                            p:{addressId:addressId}
                        });
                    }
                }
            });
        });

    })();
</script>
{/block}