{extend name="public/container"}
{block name="head_top"}
{block name="title"}登陆{/block}
{block name="content"}
<div class="authenticate" style="margin-top: 30px;">
    <section>
        <form action="{:Url('check')}" method="post">
            <div class="user-infos"><input type="text" required name="account" placeholder="请输入登陆手机号"/></div>
            <div class="user-infos"><input type="password" required name="pwd" placeholder="请输入登陆密码"/></div>
            <input type="hidden" name="ref" value="{$ref}" />
            <div class="publish-btn" style="position: inherit;"><button type="submit">立即登陆</button></div>
            <div style="float:right;margin-top:20px;"><a href="{:url('register')}">注册</a></div>
        </form>
    </section>
</div>
{/block}