{extend name="public/container"}
{block name="title"}公司/项目{/block}
{block name="head_top"}
<style>
td{padding-bottom: 10px;}
.discount-list header {
    position: inherit;
    left: 0;
    top: 200px;
    width: 100%;
    background-color: #fff;
}
.btnn {
    display: block;
    width: 30%;
    height: .57rem;
    background-color: #56ca59;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}
</style>
{/block}
{block name="content"}
<div class="authenticate" style="margin-top: 30px;">
    <section>
        <form action="{:Url('project')}">
            <input type="hidden" name="type" value="1">
            <div class="publish-btn" style="position: inherit;"><button type="submit">申请公司/项目</button></div>
        </form>
    </section>
</div>

<div class="discount-list" >
    <section>
        <header class="flex coupon-menu" style="z-index: 999;">
            <a class="item on" data-type="new" href="javascript:void(0);">未审核</a>
            <a class="item" data-type="overdug" href="javascript:void(0);">已审核</a>
            <a class="item" data-type="use" href="javascript:void(0);">已作废</a>
        </header>
        <div class="list-box" style="margin-top: 0;">
            {empty name="projectlist"}
            <div class="empty">
                <img src="{__WAP_PATH}crmeb/images/empty_detail.png">
                <p>暂无</p>
            </div>
            {else/}
            <table style="margin: 20px auto;width:100%;">
                {volist name="projectlist" id="vo"}
                <tr>
                    <td style="width:80px;">项目编号 :</td>
                    <td>{$vo.project_num}</td>
                </tr>
                <tr>
                    <td>公司/项目:</td>
                    <td>{$vo.corporate_name}</td>
                </tr>
                <tr>
                    <td>申请时间 :</td>
                    <td>{$vo.create_time}</td>
                </tr>
                <tr style="border-bottom: lightgray 1px solid;">
                    <td colspan="2"><a href="{:Url('project')}?type=2&id={$vo.id}" style="float:right;margin-right: 5px;color: darksalmon;">--> 编辑</a></td>
                    <!-- <td colspan="2"><button class="btnn">编辑</button></td> -->
                    </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                {/volist}
            </table>
            {/empty}
        </div>
    </section>
    {include file="public/store_menu"}
</div>
<script>
    (function(){
        $('.coupon-menu .item').on('click',function(){
            var that = $(this),type = that.data('type');
            $('.list-box .coupon-item').hide();
            if(type){
                $('.list-box .coupon-item.'+type).show();
            }else{
                $('.list-box .coupon-item').show();
            }
            that.addClass('on').siblings().removeClass('on');
        });
    })();
</script>
{/block}